@model User

<div>
    <h3>Личный кабинет</h3>
    <div>
        @Model.Name
        <br />
        @Model.Company
    </div>
    <div class="row">
        <div class="col-3">
            <a href="/products">
                <div>
                    Товары
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="/warehouses">
                <div>
                    Склады
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="/suppliers">
                <div>
                    Поставщики
                </div>
            </a>
        </div>
    </div>
    <form asp-controller="Account" asp-action="Logout">
        <button type="submit">Выйти</button>
    </form>
</div>